<div>
    <div class="content-login-container">
        <a href="#/nap-the-nhanh">
            <div class="napthe"></div>
        </a>
        <div class="login-container" style="width: 100%;">
            <div class="login-logo"></div>
            <form class="login-input">
                <input type="text" placeholder="Tài khoản" value="">
                <input type="password" placeholder="Mật khẩu" value="">
                <button type="submit"></button>
                <iframe class="wrap-login-fb" src="https://nova.club/fb/nv247-new/"></iframe>
                <span class="login-with-fb-text">Đăng nhập qua Facebook</span>
            </form>
        </div>
    </div>
</div>