.main-content-form {
    min-height: calc(100vh - 149.6px);
    margin-bottom: 48px;
    margin-top: 46px;
    // width: calc(100% - 200px);
    height: 100%;
    position: relative;
    float: left;
    background-color: #f3f3f3;
}
.table-content {
    margin-top: 20px;
}